# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# 

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_path = "../output_data/cities.csv"
city_data = pd.read_csv(city_data_path)
city_data = city_data.rename(columns = {"Wind Speed":"Wind_Speed"})

city_data

,City Name,Tempature,Max Tempature,Cloudiness,Humidity,Country,Wind_Speed,Latitude,Longitude,Date/Time
0,Praia,68.00,68.00,75,68,CV,18.41,14.9215,-23.5087,1612577498
1,Arraial do Cabo,74.88,74.88,100,96,BR,14.00,-22.9661,-42.0278,1612577225
2,Longyearbyen,24.80,24.80,75,86,SJ,10.36,78.2186,15.6401,1612577164
3,Benguela,73.44,73.44,90,77,AO,3.47,-12.5763,13.4055,1612577501
4,Busselton,65.61,66.00,100,68,AU,4.00,-33.6500,115.3333,1612576989
...,...,...,...,...,...,...,...,...,...,...
549,Turan,75.20,75.20,40,64,VN,1.81,16.0678,108.2208,1612578162
550,Sakakah,51.80,51.80,20,87,SA,6.91,29.9697,40.2064,1612578080
551,Vanavara,-0.38,-0.38,100,92,RU,6.42,60.3400,102.2797,1612578164
552,Dvinskoy Bereznik,-8.90,-8.90,100,88,RU,10.38,62.8551,42.7072,1612578166
553,Saint Paul,6.80,6.80,1,66,US,20.71,44.9444,-93.0933,1612578167

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# heatmap_data = city_data[["Humidity","Latitude","Longitude"]]
# heatmap_data.head()
# print((heatmap_data.to_xarray())[:4])

locations= city_data[["Latitude","Longitude"]]
humidity = city_data["Humidity"]

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
# fig = gmaps.figure(layout=figure_layout)

fig=gmaps.figure(map_type = "HYBRID", layout =figure_layout)
fig.add_layer(gmaps.heatmap_layer(locations, weights= humidity))
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
new_weather_data = city_data[city_data.Wind_Speed < 5]
new_weather_data = new_weather_data[new_weather_data.Cloudiness ==0]
new_weather_data = new_weather_data[new_weather_data.Tempature >70 ]
new_weather_data

,City Name,Tempature,Max Tempature,Cloudiness,Humidity,Country,Wind_Speed,Latitude,Longitude,Date/Time
137,Kibala,75.20,75.20,0,31,TD,4.61,9.1104,18.3463,1612577669
197,Pitimbu,78.80,78.80,0,83,BR,4.61,-7.4706,-34.8086,1612577695
213,San Miguel de Tucumán,75.20,75.20,0,78,AR,2.53,-26.8241,-65.2226,1612577665
242,Abonnema,80.55,80.55,0,82,NG,4.43,4.7084,6.7931,1612577794
367,Presidencia Roque Sáenz Peña,72.00,72.00,0,70,AR,1.01,-26.7852,-60.4388,1612577948
521,Oussouye,71.60,71.60,0,73,SN,4.61,12.4850,-16.5469,1612578128
534,Rafaela,72.99,75.00,0,41,AR,2.77,-31.2503,-61.4867,1612578032
540,Longyan,77.00,77.00,0,43,CN,0.36,25.1072,117.0225,1612578152
548,Guangzhou,71.80,72.00,0,56,CN,2.24,23.1167,113.2500,1612577985

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(new_weather_data)
hotel_df

,City Name,Tempature,Max Tempature,Cloudiness,Humidity,Country,Wind_Speed,Latitude,Longitude,Date/Time
137,Kibala,75.20,75.20,0,31,TD,4.61,9.1104,18.3463,1612577669
197,Pitimbu,78.80,78.80,0,83,BR,4.61,-7.4706,-34.8086,1612577695
213,San Miguel de Tucumán,75.20,75.20,0,78,AR,2.53,-26.8241,-65.2226,1612577665
242,Abonnema,80.55,80.55,0,82,NG,4.43,4.7084,6.7931,1612577794
367,Presidencia Roque Sáenz Peña,72.00,72.00,0,70,AR,1.01,-26.7852,-60.4388,1612577948
521,Oussouye,71.60,71.60,0,73,SN,4.61,12.4850,-16.5469,1612578128
534,Rafaela,72.99,75.00,0,41,AR,2.77,-31.2503,-61.4867,1612578032
540,Longyan,77.00,77.00,0,43,CN,0.36,25.1072,117.0225,1612578152
548,Guangzhou,71.80,72.00,0,56,CN,2.24,23.1167,113.2500,1612577985

In [7]:
# #  ( example JSON)Seeing what the Json looks like to I know what keys to grab from JSON ( example JSON)
# url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?
# location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY"
# city = "London"

# # Build query URL
# query_url = url + "appid=" + weather_api_key + "&q=" + city

# # Get weather data
# weather_response = requests.get(query_url)
# weather_json = weather_response.json()

# # Get the temperature from the response
# # print(f"The weather API responded with: {weather_json}.")
# pprint (weather_json)

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
radius = 5000
types = "lodging"
keyword = "hotel"
location = "-33.8670522,151.1957362"
hotel_name = []
query_url = f"{base_url}location={location}&radius={radius}&type={types}&keyword={keyword}&key={g_key}"

hotel_response =requests.get(query_url).json()
# pprint(hotel_response)

# pprint(hotel_response["results"][0]["name"])

for  loc in hotel_df.index:
    query_url = f"{base_url}location={hotel_df['Latitude'][loc]},{hotel_df['Longitude'][loc]}&radius={radius}&type={types}&keyword={keyword}&key={g_key}"
    hotel_response =requests.get(query_url).json()
    try:
        hotel_name.append(hotel_response["results"][0]["name"])
#         hotel_df.set_value(i,"")
    except:
        hotel_name.append("No Hotel Found")
#         print("error")
print(hotel_name)

hotel_df['Hotel_Name'] = hotel_name
hotel_df.head(9)
hotel_df = hotel_df.rename(columns = {'Latitude':"Lat", "Longitude":"Lng","Hotel_Name": "Hotel Name","City Name": "City"})
hotel_df

['Hôtel des Chasses', 'Pousada O Nativo', 'Sheraton Tucuman Hotel', 'No Hotel Found', 'Hotel Gualok', 'Campement ALULUM', 'Amérian Rafaela Hotel', 'Longyan Jinghua Fliport Hotel', '广州花园酒店']

,City,Tempature,Max Tempature,Cloudiness,Humidity,Country,Wind_Speed,Lat,Lng,Date/Time,Hotel Name
137,Kibala,75.20,75.20,0,31,TD,4.61,9.1104,18.3463,1612577669,Hôtel des Chasses
197,Pitimbu,78.80,78.80,0,83,BR,4.61,-7.4706,-34.8086,1612577695,Pousada O Nativo
213,San Miguel de Tucumán,75.20,75.20,0,78,AR,2.53,-26.8241,-65.2226,1612577665,Sheraton Tucuman Hotel
242,Abonnema,80.55,80.55,0,82,NG,4.43,4.7084,6.7931,1612577794,No Hotel Found
367,Presidencia Roque Sáenz Peña,72.00,72.00,0,70,AR,1.01,-26.7852,-60.4388,1612577948,Hotel Gualok
521,Oussouye,71.60,71.60,0,73,SN,4.61,12.4850,-16.5469,1612578128,Campement ALULUM
534,Rafaela,72.99,75.00,0,41,AR,2.77,-31.2503,-61.4867,1612578032,Amérian Rafaela Hotel
540,Longyan,77.00,77.00,0,43,CN,0.36,25.1072,117.0225,1612578152,Longyan Jinghua Fliport Hotel
548,Guangzhou,71.80,72.00,0,56,CN,2.24,23.1167,113.2500,1612577985,广州花园酒店

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
symbols = gmaps.symbol_layer(locations, info_box_content = hotel_info, fill_color ='red', stroke_color = 'red')

# Display figure
fig.add_layer(symbols)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…